baseURL = "https://elliotchoi.com/"
title = "Elliot Choi"
languageCode = "en"

[pagination]
pagerSize = 3

[outputs]
page = ["HTML"]
home = ["HTML", "RSS", "JSON"]
section = ["HTML", "RSS"]
taxonomy = ["HTML", "RSS"]
term = ["HTML", "RSS"]

[taxonomies]
tag = "tags"
category = "categories"
author = "authors"
series = "series"

[module]
[[module.imports]]
path = "github.com/zetxek/adritian-free-hugo-theme"

[[module.mounts]]
source = "archetypes"
target = "archetypes"

[[module.mounts]]
source = "assets"
target = "assets"

[[module.mounts]]
source = "content"
target = "content"

[[module.mounts]]
source = "data"
target = "data"

[[module.mounts]]
source = "i18n"
target = "i18n"

[[module.mounts]]
source = "layouts"
target = "layouts"

[[module.mounts]]
source = "static"
target = "static"

[[module.mounts]]
source = "node_modules/bootstrap/scss"
target = "assets/scss/bootstrap"

[[module.mounts]]
source = "node_modules/bootstrap/dist/js"
target = "assets/js/bootstrap"

[[module.mounts]]
source = "node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"
target = "assets/js/vendor/bootstrap.bundle.min.js"

[[module.mounts]]
source = "node_modules/bootstrap-print-css/css/bootstrap-print.css"
target = "assets/css/bootstrap-print.css"

[params]
title = "Elliot Choi - Portfolio"
description = "Personal portfolio of Elliot Choi"
homepageExperienceCount = 6

[params.plugins]
[[params.plugins.css]]
URL = "css/adritian-icons.css"

[[params.plugins.scss]]
URL = "scss/adritian.scss"

[[params.plugins.js]]
URL = "js/rad-animations.js"
[[params.plugins.js]]
URL = "js/sticky-header.js"


[build]
writeStats = true

[build.buildStats]
enable = true

[languages]
[languages.en]
disabled = false
languageCode = "en"
languageName = "English"
weight = 1

[[languages.en.menus.header]]
name = "Home"
URL = "/"
weight = 1

[[languages.en.menus.header]]
name = "About"
URL = "#about"
weight = 2

[[languages.en.menus.header]]
name = "Portfolio"
URL = "#client-and-work-section"
weight = 3

[[languages.en.menus.header]]
name = "Contact"
URL = "#contact"
weight = 4

[markup]
[markup.goldmark]
[markup.goldmark.renderer]
unsafe = true